# **Project Phase 1**

## Part1- Multinomial Logistic Regression from scratch

**Install the required library.**

In [2]:
!pip install python_speech_features

Requirement already satisfied: python_speech_features in c:\users\khawa\anaconda3\lib\site-packages (0.6)

**Load the required libraries.**

In [3]:
import python_speech_features as mfcc
from sklearn.model_selection import train_test_split
from scipy.io.wavfile import read
import numpy as np
import pandas as pd
import glob

**Define the MFCC function.**

In [4]:
def get_MFCC(audio, sr):
    features = mfcc.mfcc(audio, sr, 0.025, 0.01, 13, appendEnergy = True)
    return np.mean(features, axis=0)

### **Forming Dataset from speech data**

In [5]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

ModuleNotFoundError: No module named 'google.colab'

### Encoding languages labels (for data being retrieved from a drive link)

In [5]:
features_list=[]
features=[]
l=[]
# loading the data from the drive
for name in glob.glob("/content/drive/My Drive/recordingsData/audio/audios/Recordings-Group 11/*"):
 
  label=name.split("/")[8].split("-")[0]
  recordingno=name.split("/")[8].split("-")[1]
  
  #calling the MFCC function for getting features
  sr, audio = read(name)
  features_list=get_MFCC(audio, sr).tolist()

  #encoding the data with 0,1,2 values as labels 
  if(label=="ur"):
    label=0
  elif(label=="en"):
    label=1
  elif(label=="ue"):
    label=2

  features_list.append(label)
  features.append(features_list)
features

#Creating Dataframe 
df=pd.DataFrame(features, columns = ['feat_0','feat_1','feat_2','feat_3','feat_4','feat_5','feat_6','feat_7','feat_8','feat_9','feat_10','feat_11','feat_12','label'])

df

Empty DataFrame
Columns: [feat_0, feat_1, feat_2, feat_3, feat_4, feat_5, feat_6, feat_7, feat_8, feat_9, feat_10, feat_11, feat_12, label]
Index: []

In [15]:
df=pd.read_csv("data.csv",index_col=0)
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,feat_11,feat_12,label
0,15.420616,-1.106523,-3.854466,3.577854,-1.386421,-6.628898,-11.955851,-7.753118,-2.687607,-10.298835,6.917660,-7.851081,-6.799251,0
1,15.420616,-1.106523,-3.854466,3.577854,-1.386421,-6.628898,-11.955851,-7.753118,-2.687607,-10.298835,6.917660,-7.851081,-6.799251,0
2,15.643362,-0.229043,-3.130625,-1.625388,-0.224217,0.416528,-6.852738,-9.243361,1.486968,-4.285490,16.338480,-4.966220,-10.124564,0
3,15.643362,-0.229043,-3.130625,-1.625388,-0.224217,0.416528,-6.852738,-9.243361,1.486968,-4.285490,16.338480,-4.966220,-10.124564,0
4,15.643362,-0.229043,-3.130625,-1.625388,-0.224217,0.416528,-6.852738,-9.243361,1.486968,-4.285490,16.338480,-4.966220,-10.124564,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17375,12.792125,-7.911104,-11.009741,5.922262,-8.259737,-1.410583,-15.554617,-15.372664,-2.530352,-5.918442,-2.580511,-3.292523,-3.056571,0
17376,13.720188,-11.402813,-11.325706,3.983313,-7.455342,-3.671909,-15.862445,-15.744310,0.200963,3.158964,2.918506,-4.339300,-7.697900,0
17377,13.512430,-6.669017,-9.888639,4.662860,-14.662137,-5.392384,-14.575046,-12.648510,3.306230,-4.056787,4.018101,1.277110,-9.139446,0
17378,13.507047,-9.687303,-8.127189,3.346995,-12.033723,-6.361372,-16.998146,-12.991586,3.368223,-4.726273,2.225458,3.776183,-9.071092,0
17379,12.873085,-7.512769,-9.467413,4.601516,-9.554194,-5.635490,-18.552069,-14.932707,3.516842,1.039038,3.808238,-1.950260,-5.106677,0

### Pre-Processing on Dataset

#### Dividing data into test and train

In [16]:
#70:30 train test split

train_X, test_X, train_Y, test_Y = train_test_split(df.iloc[:,:-1], df.iloc[:,-1], test_size=0.3, random_state=42,stratify=df.iloc[:,-1])

noofclasses=train_Y.nunique()

### Normalizing data

In [17]:

for column in train_X:
    mean=train_X[column].mean()
    std=train_X[column].std()
    train_X[column]=train_X[column].apply(lambda x : (x-mean)/std)
    test_X[column]=test_X[column].apply(lambda x : (x-mean)/std)

train_X.insert(0, 'x0', [1] *train_X.shape[0])
test_X.insert(0, 'x0', [1] *test_X.shape[0])
test_x=test_X.to_numpy()
train_x=train_X.to_numpy()

In [18]:
train_X

,x0,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,feat_11,feat_12
11516,1,-0.034594,0.366762,-0.827685,-0.271154,-1.587141,-0.864984,0.134636,0.974262,0.437786,-1.540342,-1.446155,-0.476376,0.053531
12038,1,0.230865,-0.644206,1.293990,0.124237,0.323418,0.898725,0.032095,-0.478917,-1.658977,-0.942006,-0.681758,-1.992198,-0.363708
6875,1,-0.109839,0.378543,-0.072632,0.510960,1.250842,-0.741892,-0.388626,-1.446847,-0.455043,1.887859,-0.326499,-0.737787,0.263608
2611,1,-1.209958,0.259972,0.146452,-0.915181,-0.106744,0.212596,0.745970,-0.367192,0.423691,-0.033656,0.570992,0.619394,-0.127750
8109,1,-0.406672,0.528298,0.359341,-0.899026,-0.235209,-0.722107,-1.137809,1.172473,-1.627953,-0.401668,-0.712945,-1.196404,-0.420813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6319,1,1.054783,0.350265,1.305708,-0.171091,0.044973,1.190621,-0.264747,2.013026,0.960790,-0.574349,2.484657,1.281566,-1.049303
9286,1,0.731299,2.154787,0.443587,-0.276432,-1.506395,-1.290420,0.137395,0.509306,0.560822,0.194755,-0.570408,0.818929,-0.032937
12293,1,0.459792,-0.688876,0.150226,0.548306,-0.983173,1.516753,-0.459707,1.836522,-0.750502,0.955106,0.645831,0.750835,0.329191
1674,1,0.785950,0.120128,-0.238069,-0.197831,0.632455,1.105377,1.187958,-0.104337,1.236566,0.318934,2.531185,-0.533388,-0.767774
11867,1,-0.279157,-1.495921,-1.469713,1.191570,-0.571340,0.733096,-0.058310,-0.233583,0.427584,0.371315,0.563980,0.672462,0.549941

#### Functions for Log regression

In [19]:
def softmax(predictedscores):

  #creating an empty arrays of zeros
  probabilities=np.zeros((predictedscores.shape[0],noofclasses ))
  
  
  for i in range(predictedscores.shape[0]):
      exponents = np.exp(predictedscores[i])
      probabilities[i] = exponents / (np.sum(exponents))

  return probabilities

In [20]:
#defining the hypothesis h_theta for this case y= QT X which is basicallty the dotproduct of x and theta

def hypothesis(featureset, weights):
  zscores =  np.zeros((featureset.shape[0],noofclasses ))
  for i in range(featureset.shape[0]):
    zscores[i] = np.dot(weights, featureset[i])
  
  return zscores

In [21]:
#the Cross entropy loss function,following the log loss formula for multiclass

def crossEntropyLoss(probabilities, truelabels):
  ce_loss = 0

  for i in range(len(probabilities)):
    ce_loss =ce_loss+ (-1*np.log(probabilities[i][truelabels[i]]))
  
  #averaging loss over the whole dataset
  ce_loss = ce_loss / probabilities.shape[0]
  return ce_loss

In [22]:
#helper function that returns the arg of the max element in a list
def arg_max(probabilities):
  l=[]
  for i in probabilities:
    l.append(np.argmax(i))
  l=np.array(l)
  return l

In [23]:
#To predict the labels based on multinomial logistic regression
def predict(featureset, weights):
  
  originalScores = hypothesis(featureset, weights)
  probabilities = softmax(originalScores)
  predictions = arg_max(probabilities)

  return  probabilities, predictions

In [24]:

def BatchgradientDescent(featureset, truelabels, alpha, epochs):
  J = []
  tl={}
  
  #initializing 2D thetas array randomly 
  thetas = np.random.rand(noofclasses, featureset.shape[1])

  #for subtracting y-hat from the probabilities that are in the true labels 
  uniquelabels=np.unique(truelabels)
  for label in uniquelabels:
      tl[label]=np.where(truelabels==label)

  for epoch in range(epochs):


    probabilities, predictions = predict(featureset, thetas)
    J.append(crossEntropyLoss(probabilities, truelabels))
    
    
    #subtracting Y hat 
    for label in tl.keys():
      for ids in tl[label][0]:
          probabilities[ids][label] =probabilities[ids][label]- 1
 
  
  
    #calculating gradient descent 
    grad=np.dot(probabilities.T,featureset)

    #updating thetas
    for i in range(0,len(thetas)):          
            thetas[i]  = thetas[i]  - ( alpha * grad[i] )
    


  return thetas, J

In [25]:
def evaluation(predictions, truelabels):


    #accuracy
    correctPred = 0
    for i in range(len(predictions)):
        if predictions[i] == truelabels[i]:
            correctPred += 1
    
    #decoding labels in predictions and true labels
    p=[]
    for index, item in enumerate(predictions.tolist()):

      if  (predictions[index]==0):
          p.append("Urdu")
      if  (predictions[index]==1):
          p.append("English")
      if  (predictions[index]==2):
          p.append("Mixed")
    t=[]
    for index, item in enumerate(truelabels.tolist()):

      if  (truelabels[index]==0):
          t.append("Urdu")
      if  (truelabels[index]==1):
          t.append("English")
      if  (truelabels[index]==2):
          t.append("Mixed")
    
    pred = pd.Categorical(p, categories=['Urdu', 'English', 'Mixed'])
    true = pd.Categorical(t, categories=['Urdu', 'English', 'Mixed'])

    cmatrix=pd.crosstab(pred,true,rownames=['Predicted'],colnames=['Actual'])
    
    
    cm=pd.crosstab(true,pred)
    #precision
    u = cm['Urdu']['Urdu'] /cm['Urdu'].sum()
    e = cm['English']['English'] / cm['English'].sum()
    m = cm['Mixed']['Mixed'] / cm['Mixed'].sum()
    
    precision = (u+e+m)/ 3
    # print(u )

    #Recall
    u1 = cmatrix['Urdu']['Urdu'] /cmatrix['Urdu'].sum()
    e1 = cmatrix['English']['English'] / cmatrix['English'].sum()
    m1 = cmatrix['Mixed']['Mixed'] / cmatrix['Mixed'].sum()

    recall=(u1+e1+m1)/3
   
    #F1 score
    F1score = (2 *precision* recall) / (precision + recall)


  
    accuracy = correctPred/len(predictions)*100
    return accuracy,cmatrix,precision,recall,F1score

In [ ]:
n_epoch = 1500
alpha = 0.001

thetas,J = BatchgradientDescent(train_x ,train_Y.to_numpy(), alpha, n_epoch)
probabilities, predictions = predict(test_x, thetas)
accuracy,cmatrix,precision,recall,F1score = evaluation(predictions, test_Y.to_numpy()) 

display("Confusion Matrix", cmatrix)
print("\n")
print("Accuracy:",accuracy)
print("Precision",precision)
print("Recall",recall)
print("F1 score: ",F1score)

In [ ]:

y=[]
alphas=0.04
x=np.arange(10000,110000,10000)
for n_epochs in x:
    thetas,J = BatchgradientDescent(train_x ,train_Y.to_numpy(), alphas,n_epochs) 
    y.append(J)

print(J)

In [ ]:
import matplotlib.pyplot as plt

thetas,y = BatchgradientDescent(train_x ,train_Y.to_numpy(), alphas,1500)
#2000 epochs 


x=np.arange(1,1501)
plt.plot(x, y)
 
# naming the x axis
plt.xlabel('x - axis')
# naming the y axis
plt.ylabel('y - axis')
 
# giving a title to my graph
plt.title('loss against epochs')
 
# function to show the plot
plt.show()

# the loss drops considerably in the first iterations of the dataset with a learning rate of 0.04 and then stays constant

## **Part 2 -Sickitlearns Multinomial logistic regression**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

## Initializing model

In [ ]:
logreg=LogisticRegressionCV(random_state=0, multi_class='multinomial', solver='lbfgs', max_iter=100000,cv=5)
logreg.fit(train_X,train_Y)
predictions_y = logreg.predict(test_X)

## Printing report

In [ ]:
cnf_matrix = metrics.confusion_matrix(test_Y, predictions_y)
display("Confusion matrix: ",cnf_matrix) 
print("Accuracy:", accuracy_score(test_Y,  predictions_y)*100)

cReport = classification_report(test_Y, predictions_y)
print(cReport)